[2017-03-22 06:23] xi opened #27 "a[role="button"] needs to implement behavior"
In the buttons section you recommend to either use a `<button>` element or to use `<a role="button">`. What is missing is that if you use the second form, you also need to implement button behavior, namely trigger a click event when pressing the spacebar. See [MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_button_role) for more information.

Note tha

[2017-03-22 13:03] cehfisher commented on #27
This is awesome feedback @xi! My goal is to give multiple options for the components (since sometimes you are limited in what markup you can modify as a developer), but I do agree that the <button> element is the best method in this case. I should have made that more obvious in the bullet points.

Thanks for letting me know about that missing piece and for the reference article. I will be updating

[2017-03-23 07:02] xi commented on #27
I saw that you implemented some of my proposed changes in 78e02aed8df1d924b0f297c86542dbe5a0459e26. However, I fear there was one misunderstanding:

That is the opposite of what I meant: IMHO, it is ok to style a regular link to look like a button. The important aspect is that for ARIA, it is still a link.

Imagine for example a "Login" button on the frontpage. It will probably look like a call to

[2017-03-23 13:09] cehfisher opened #34 "Visual focus on radio buttons and checkboxes"
Check :focus visual feedback on radio btns & checkboxes (in FF / Win8.1) (reported by Arnaud Delafosse)

[2017-03-23 17:13] cscuderi opened #36 "Accordions are not focusable with the keyboard"
Accordions (such as the "WCAG 2.0 Guidelines" one on this page: https://cehfisher.github.io/a11y-style-guide/style-guide/section-general.html) are not focusable using just the keyboard.

In addition, they have no keyboard event listeners (currently only tied to the mouse) and no aria-expanded attributes on them.

[2017-03-23 18:02] cehfisher commented on #36
Thanks @cscuderi for catching that bug! It worked at one point, but seems I either never committed that change or it got reverted. I'll work on a fix for that soon.

[2017-03-24 03:07] cehfisher commented on #27
Sorry for not understanding you the first time around @xi. Hoping the changes in 5f65672 resolve this issue. I appreciate your persistence :)

[2017-03-24 10:40] scriptype opened #40 ""visuallyhidden" info in checkbox examples looks confusing"
I've had a hard time to understand the purpose of these:
[code]

They seem like showing content only to screen-readers to be even more helpful, at least that's what I assume after finding other `visuallyhidden` elements in other examples as well. Still, the usage in the above examples is not clear to me. Feels like we are providing poll results of some sort?

[2017-03-24 10:40] xi commented on #27
It is a bit hard to find the relevant parts of that commit, but if I saw correctly you removed the note about styling links as buttons. I think the note is important because this is a very common usecase. I also saw that you still have the `<a role="button">` examples. There should definitely be a note that explains why this is not recommended. This is how I would do it:

[2017-03-24 13:15] scottaohara opened #43 "markdown to html issues"
there are still some instances, on the overview page, where the conversion to markdown to HTML is causing some invalid wrapping of elements in ```<p>``` tags.

e.g.
[code]

I'd assume the fix here would be to instead use markdown to denote the necessary HTML tag?

so do
[code]
rather than
[code]

but as i'm unfamiliar with the conversion tool, i don't know if that'd actually fix the problem?

[2017-03-24 13:17] cehfisher commented on #43
I think the compiler is adding in some of these random <p> tags. I have changed this a couple of times. Yeah I need to put the ## back in for the read me file and see if that fixes this issue. Thanks for the reminder!

[2017-03-24 13:20] scottaohara commented on #36
to tack onto this issue, be sure to toggle ```aria-expanded="true/false"``` on the hidden content trigger to add context to what the current state of the toggle area is.

[2017-03-24 13:28] scottaohara commented on #40
i would agree that the above visually hidden text is not necessary.

though i originally read it as kind of a joke?  since the field is asking an opinion on who the best member of led zeppelin is, and then the visually hidden text is then announcing the bias of the giver of the poll?

but yah.  maybe i'm the only one who saw that as a joke? :)

[2017-03-24 13:38] scottaohara opened #44 "duplicate ids"
```post-shortlink``` and ```copy-button``` appear multiple times across the styleguide.

it'd be best to update any JS using these hooks to instead use classes, and where necessary generate unique IDs for these elements.

[2017-03-24 14:12] scriptype commented on #40
Looked like a joke to me too, but it's confusing nonetheless, IMHO.

[2017-03-24 15:26] cehfisher commented on #43
OK 2cbf2b4 should resolve the issues with markup hopefully. I'll be updating the demo site at the end of the day, but you can check the commits to be sure that covers it.

[2017-03-24 15:42] cehfisher commented on #27
OK these buttons are tricky little things...hope to get them nailed down. Here is the commit with the latest changes (41ea59469450400569fc3049f8f0d79b6149dc95) but you can also see it on the demo site here if easier https://cehfisher.github.io/a11y-style-guide/style-guide/section-general.html#kssref-general-buttons

[2017-03-24 15:42] cehfisher commented on #43
Demo site just updated...so much for waiting for the end of day. let me know if anything more needs changed here.

[2017-03-24 16:02] scottaohara commented on #43
as far as i see, the above pr should finish off this issue :)

[2017-03-24 16:18] cehfisher commented on #36
@scottaohara this is the issue i'm hoping you have time to review. if not, send it back my way. thanks!

[2017-03-24 16:20] cehfisher commented on #40
ha! it is a joke...and why not have a joke visible only to people using screen-readers? how many times do we hide content from them?

so the backstory is i'm demoing the style guide at MidCamp (https://www.midcamp.org/session/inclusive-development-using-style-guides-improve-website-accessibility) and planning to have the screen-reader read that part out-loud. again, driving home the point that all

[2017-03-24 16:21] cehfisher commented on #40
but maybe i should make a note about the "hidden joke" in that component?

[2017-03-24 17:04] scottaohara commented on #36
yup.  got it

[2017-03-24 17:17] scriptype commented on #40
Well, I personally wouldn't prefer having non-essential or potentially misleading things in something like a documentation. But, this is more like a personal taste, so it wouldn't be a big problem if you want them to stay.

If you imply the jokes somehow, that should clarify things more and definitely will help.

[2017-03-24 18:19] cehfisher commented on #34
Note that https://github.com/cehfisher/a11y-style-guide/pull/50 covers the checkboxes. Radios next...

[2017-03-24 19:39] cehfisher commented on #34
ok radios and checkboxes updated. will send message to Twitter account, since was originally posted there.

[2017-03-24 19:39] #34 closed

[2017-03-24 20:16] cehfisher commented on #40
OK updated the checkboxes and radios to include a note about additional hidden content. I think it is important to point out that sometimes you *would* want to include additional info for users with screen-readers. Although this case is just for fun.

I like @scottaohara's idea of adding some additional states/styling to show other radio/checkbox options, such as disabled cursor style, or a css ho

[2017-03-24 20:16] #40 closed

[2017-03-24 21:31] cehfisher commented on #44
I was able to make some progress on this issue, turning the `copy-button` into a class, added some ARIA labels to help make the button more descriptive, and added a success type message.

using clipboard.js (https://clipboardjs.com) as the base for this JS. might need to dig into duplicate IDs a bit.

[2017-03-25 07:18] xi commented on #27
Thanks for putting up with my nitpicking :)

[2017-03-25 07:18] #27 closed

[2017-03-26 12:24] cehfisher opened #57 "mobile navigation"
Make navigating on mobile devices easier (via @codepo8 @theMadness on Twitter)

[2017-03-26 12:49] cehfisher opened #59 "Build audio component"
Creating a ticket to track progress on audio component.

[2017-03-26 12:49] cehfisher opened #60 "Build video component"
Creating a ticket to track progress on video component.

[2017-03-26 13:14] cehfisher opened #63 "Add more image examples"
Add more image examples to image component, including images with text, complex images, etc. See https://www.w3.org/WAI/tutorials/images/ as reference

[2017-03-26 13:23] cehfisher opened #64 "Build footer menu component"
Creating a ticket to track progress on footer menu component.

[2017-03-26 13:25] cehfisher opened #65 "Build main menu component"
Creating a ticket to track progress on main menu component. There are many variations of a "main menu" but wanted to give some more complex examples that are still accessible. I like this project and could be a reference for this component https://adobe-accessibility.github.io/Accessible-Mega-Menu/

[2017-03-26 13:27] cehfisher opened #66 "Updates to basic navbar"
Need to update this component to include hamburger collapse on mobile devices.

[2017-03-26 13:29] cehfisher opened #67 "Updates to Navbar Mobile Icon"
Need to include some text with the hamburger icon (ex. Menu). Also need to include some accessibility points.

[2017-03-26 13:30] cehfisher opened #68 "Updates to pagination"
Need to make this more mobile friendly. Also need some accessibility points.

[2017-03-26 13:30] cehfisher opened #69 "Build tabs component"
Creating a ticket to track progress on tabs component.

[2017-03-26 13:37] cehfisher opened #71 "Build ARIA labels component"
Creating a ticket to track progress on ARIA labels component.

[2017-03-26 13:38] cehfisher opened #72 "Build ARIA landmark roles component"
Creating a ticket to track progress on ARIA landmark roles component.

[2017-03-26 13:38] cehfisher opened #73 "Build list component"
Creating a ticket to track progress on list component.

[2017-03-26 13:39] cehfisher opened #74 "Build table component"
Creating a ticket to track progress on table component.

[2017-03-27 16:54] shrop opened #77 "Document KSS node setup and workflow (CMS agnostic)"
The current docs at https://github.com/cehfisher/a11y-style-guide/blob/master/README.md do not seem to work outside of a Drupal theme context. Need to update to not depend on Drupal.

[2017-03-27 19:10] cehfisher commented on #60
thanks @widescreenBob for your help on this component

[2017-03-27 19:10] #60 closed

[2017-03-27 19:11] cehfisher commented on #77
Updated readme a bit more after merging your PR @shrop. Should be a bit more agnostic now. Keeping this open to see if I can remove some additional .yml files or at least make then non-Drupal

[2017-03-27 20:04] cehfisher commented on #77
Last PR should resolve this issue. Let me know if you find any other places where Drupal is mentioned.

[2017-03-27 20:04] #77 closed

[2017-03-28 13:24] cehfisher opened #85 "Open in new window indicator"
Create open in new window graphic and theme to show users they are going to an external site. Primarily for resources/guidelines section.

[2017-03-28 13:35] cehfisher opened #86 "Jump to top button"
The style guide can get vertically long, need a jump to top button

[2017-03-28 18:34] cehfisher commented on #36
@cscuderi - thanks to this code from @scottaohara (https://github.com/scottaohara/aria_toggle_blocks) i think the issue you reported has been resolved. can you check out the demo site again? http://a11y-style-guide.com/style-guide/

[2017-03-29 13:03] scottaohara commented on #86
i could take this, but i have a few questions:

1. should this be a visible back to top link, or visible on keyboard focus only?
2. should it point to the navigation or the main content area?  visually on activation it'll have the same effect, since the nav is fixed (unless this ends up changing for small screen, as then there will be a difference.
3. is there reason for maybe both?  1 visible bac

[2017-03-29 13:23] cehfisher commented on #86
@scottaohara
1. i was thinking it would be a visible back to top link, that could also be used by people using keyboards only
2. back to main content area is typically what i have seen
3. yes, that might be good...not sure if overkill
4. yes...but i do that too :)

[2017-03-29 13:23] cehfisher commented on #86
do you want me to create the icon for this? to make sure it works with the existing theme?

[2017-03-29 14:03] scottaohara commented on #86
sure!  just let me know when you got that into the repo and i'll make sure to use it in my commit

[2017-03-29 15:56] cehfisher commented on #86
feel free to start the feature and i can work on the icon. it won't be until later today

[2017-03-29 15:59] scottaohara commented on #86
ok

[2017-03-29 19:50] cehfisher opened #89 "Create misc resource page"
I'm adding resources to the toggle sections on each component, but there are times where the resources do not apply directly to a particular component. need an extra section to link these.

[2017-03-29 20:31] #36 closed

[2017-03-30 16:04] cehfisher commented on #86
Updated on demo site. I added an icon to indicate direction up to the top, plus made a minor edit to the JS. Thanks for the work on this @scottaohara!

[2017-03-30 16:04] #86 closed

[2017-03-30 17:32] cehfisher commented on #85
Closing per work on https://github.com/cehfisher/a11y-style-guide/pull/92

[2017-03-30 17:32] #85 closed

[2017-03-31 15:43] Robdel12 opened #96 "Add good vs bad screen reader videos with examples"
First off, awesome work on this! While browsing through last night, I had an idea to add videos to each of the examples. I was thinking of demoing the different screen readers with good & bad examples to really drive home and connect the "why".

I'm totally willing to do this! But I'm not sure where you would like the videos to be hosted or if you'd be willing to take this change :)

[2017-03-31 18:18] scottaohara commented on #71
what does this refer to specifically?

like the various ways one could implement the ```aria-label```, or ```aria-labelledby``` attributes for form controls, links, buttons, landmarks, etc?

[2017-03-31 18:49] cehfisher commented on #71
hmm why the thumbs down @rbenson?

@scottaohara I want to include some "best practices" for ARIA. i truly believe that `no ARIA is better than bad ARIA` but people do use it. I want to add some ways to use it right

[2017-03-31 18:54] cehfisher commented on #96
thanks @Robdel12! it's a work in progress...yes, please send in additional examples! send a PR over or write back into this ticket, if that is easier for you. always looking at ways to improve the tool and make it useful to others.

[2017-03-31 19:12] scottaohara commented on #71
so then it sounds like the definition of 'component' was at play here.

understood and agree.  good area to explore

[2017-04-01 02:42] rbenson commented on #71
@cehfisher  Because this wouldn't follow the [rules of ARIA](https://www.w3.org/TR/aria-in-html/#rule1)

Given the guide is missing various a11y basics, such as #63, focusing on ARIA, or an ARIA-first approach, goes against best practices and the ARIA spec itself.

[2017-04-01 12:47] scottaohara commented on #71
so then you're suggesting that it not even be addressed rather than provide examples of when it would be appropriate to use, @rbenson?

Also, as you pointed out there is still quite a bit to do here, so feel free to help out!  @cehfisher has been great to work with on PRs

[2017-04-01 13:24] cehfisher commented on #71
yep, sounds like we all are on the same page! it might be best to remove them as actual "components" though as that is addressed within each specific example. i'm going to close this ticket and the other ARIA one, and move those into the "resource" section.

[2017-04-01 13:24] #71 closed

[2017-04-01 13:25] #72 closed

[2017-04-01 13:26] cehfisher commented on #72
Closing and moving this into resource section.

[2017-04-03 21:30] cehfisher commented on #59
Mostly built at this point. Need to add an audio transcript.

[2017-04-03 21:31] #68 closed

[2017-04-03 21:31] #67 closed

[2017-04-06 21:44] cehfisher commented on #74
Basic table component in place. Need advanced examples

[2017-04-06 23:46] scottaohara commented on #74
this reminds me, i saw an interesting twitter thread on what to do when you are mixing component types like tables and form inputs, and how to appropriately set those up. (interesting in that no one had come to a good conclusion on what to do, so we might as well come up with something :) )

would definitely make for a good example to showcase at some point.

[2017-04-16 18:42] #44 closed

[2017-04-17 00:10] cehfisher commented on #57
Resolved by #120

[2017-04-17 00:10] #57 closed

[2017-04-17 16:18] mezapata opened #124 "Table advice needs some work."
The summary attribute of the table element is obsolete in HTML5. (Screen reader support for this attribute has been spotty.)
Similarly, the thead, tfoot, and tbody elements provide no accessibility functionality.
Reference: http://webaim.org/techniques/tables/data

[2017-04-17 21:02] cehfisher commented on #124
@mezapata thanks for the info! I was going primarily off of the W3C table tutorials to include some extra a11y pieces to tables (I agree most tables are pretty decent out of the box). They mention the use of summaries here - https://www.w3.org/WAI/tutorials/tables/caption-summary/
It could be that I need to make it clearer that summaries and captions aren't necessary, but optional?

For the thead,

[2017-04-22 02:27] cehfisher commented on #124
thanks @mezapata. made some updates, let me know if anything else needs to be updated. thanks again for taking the time to make a ticket.

[2017-04-22 02:27] #124 closed

[2017-04-22 02:27] #96 closed

[2017-04-22 02:28] #59 closed

[2017-04-22 03:48] #74 closed

[2017-05-04 00:15] 7mary4 opened #134 "read more should use aria-describedby instead of aria-labelledby"
Hi, thank you for putting this together.
On the [read-more links](https://github.com/cehfisher/a11y-style-guide/blob/master/src/components/read-more/read-more.twig), you suggest using aria-labelledby to provide unique link text for a read more element. This is not wrong, however the aria-labelledby attribute will replace the text node with the content from the heading. So, instead of hearing "link

[2017-05-04 14:19] cehfisher commented on #134
hi @7mary4! thanks for the feedback on the A11Y style guide. I am trying to capture real-world scenarios as I come across them and list all the options available to developers (because sometimes we can only change certain elements). there are certainly options that are more accessible than others. this is a perfect example of that. i will plan to add your example to the guide in the next PR, but i

[2017-05-04 21:24] scottaohara commented on #134
The problem I've found with using ```aria-describedby``` for read more links is that context doesn't bubble up to things like VO's web router, where ```aria-label``` and ```aria-labelledby``` does.

Additionally, from the testing I've done with screen reader users, they don't appreciate the delay in that described by adds, since it slows down their navigating by links, when using Voice Over.

With

[2017-05-05 13:25] cehfisher commented on #134
thanks @scottaohara for that perspective as well. let's brainstorm on ways to rate levels of accessibility. the main issue being that one method might be best for one type of disability but hinder another...or be good for one AT but not another. this is one of the reasons i started this thing in the first place...there are a lot of paths to go down, but hard to know which one is the best. and that

[2017-05-05 14:12] cehfisher commented on #134
OK just updated the Read More section (http://a11y-style-guide.com/style-guide/section-general.html#kssref-general-read-more). take a look and see if I missed anything @scottaohara @7mary4

[2017-05-05 17:15] scottaohara commented on #134
The ```aria-describedby``` example would read as follows to someone navigating by links alone:

Read More 'pause' This is a movie quote from The Treasure of the Sierra Madre.

It's set up properly, but probably doesn't provide the best context as to what the link is in relation to.  I'd recommend putting the info ID on the heading associated with the example.

[2017-05-05 18:17] cehfisher commented on #134
ahh true...updating the example to make more sense. reopen if you need more changes, but hopefully this last update covers it for now :)

[2017-05-05 18:17] #134 closed

[2017-05-06 03:15] cehfisher commented on #89
Started one here: http://a11y-style-guide.com/style-guide/section-resources.html

[2017-05-06 03:15] #89 closed

[2017-05-08 00:53] dengeist opened #140 "Should teach input type=image for graphical buttons"
Right now, the only advice for graphical buttons is:

... which is correct _if_ you decide to make a graphical button this way, but buttons should only contain phrasing content ([MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button)). A quick mention & demo of [`<input type="image">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/image) might be better advice.

[2017-05-08 04:26] scottaohara commented on #140
Phrasing content [includes images](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Phrasing_content), and is perfectly acceptable as the child of a button element, as long as there is appropriate alt text.

I would suggest we don't replace the current example, but add your suggestion as another option, since both are valid.

[2017-05-08 13:32] cehfisher opened #142 "Ranking system"
in the SG there are many examples available for each component, to show real-world scenarios we often find ourselves in as developers. however, we do sometimes have full control of the markup/styling so it would be nice to "rank" the examples from in terms of accessibility. i realize this task is difficult for many reasons, but it would be nice to show users of the SG the best options so they can

[2017-05-08 13:34] cehfisher commented on #140
@scottaohara Elias did include a new example in his PR. I added notes to the PR itself on a couple of changes i would like to see. if you do not have time @dengeist to make these changes, let me know and i will update the PR when i have time this week. thanks again for submitting code!!

[2017-05-08 15:33] MichielBijl opened #143 "Add `aria-current` to breadcrumb and pagination widgets"
Hi 👋🏼

For both the [breadcrumb](http://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-breadcrumbs) and [pagination](http://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-pagination) widget you can add `aria-current="page"` to the link that points to, well, the current page. This will tell AT that the focused link (when it has `aria-current`)

[2017-05-08 21:53] #140 closed

[2017-05-08 22:08] cehfisher commented on #143
thanks for the ticket and PR guys! I made some changes and updated the demo site. please review and get back to me on any additional changes that may be needed. thanks!

[2017-05-08 22:08] #143 closed

[2017-05-09 13:55] cehfisher opened #146 "Build teaser block component"
Build component showing multiple links, one on the photo and one on the title of a teaser post. See http://john.foliot.ca/aria-hidden/ for an example.

[2017-05-25 18:11] brunopulis opened #150 "Translations to other languages"
It would be interesting to translate the guide into other languages, what do you think of the idea? I plan to translate to PT-BR

[2017-05-25 18:27] cehfisher commented on #150
ooh i like that idea! we could add a language switcher in the header somewhere to easily toggle the language. unfortunately, i took mostly Latin so i wouldn't be much help on the actual translation side :)

[2017-05-25 18:30] cehfisher commented on #66
i have this working on my actual site, but not in the example section

[2017-05-25 18:32] cehfisher opened #151 "Create accessible cards"
Create a card component that is also accessible. Similar functionality here https://www.magmutual.com/learning-center

[2017-05-25 19:35] brunopulis commented on #150
@cehfisher Maybe this library can help  [.i18next](https://www.i18next.com)

[2017-05-30 17:03] cehfisher opened #153 "Skip nav component"
we are using a `skip to content` button on this site, but need to do a quick write-up of the pieces some one else might need to replicate this.

[2017-05-30 17:08] cehfisher opened #154 "Link focus component"
add `button` to link focus example. point out bug @dengeist mentioned on Twitter https://codepen.io/dengeist/pen/LyomBb?editors=1100

[2017-05-30 22:37] dengeist commented on #154
Just realized I totally left out other focusable controls. Inputs, etc--doesnt this bug affect all of them?

[2017-05-31 00:52] dengeist commented on #153
Maybe you could refer readers to some of the common patterns for accessible hiding? [H5BP's .visuallyhidden](https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css#L135-L147) and [its :focus derivative](https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css#L155-L166) make accomplishing this very easy. I could make an addition if you want! :)

[2017-05-31 04:38] cehfisher commented on #154
yes, i assume it would affect all control elements using the base focus styling/functionality. something to google, test, and update. if you find out anything, let me know!

[2017-05-31 04:40] cehfisher commented on #153
that would be a good addition to this component @dengeist! PRs always welcome :)

[2017-05-31 11:37] scottaohara commented on #153
i may have written all about how to [appropriately hide content](http://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html)  :)

feel free to reference

[2017-06-09 15:46] cehfisher opened #160 "Font size examples"
Using rem vs pt vs vw examples of what is best for browser resizing (ex. https://madebymike.com.au/writing/fluid-type-calc-examples)

[2017-06-21 01:15] cehfisher commented on #151
Base cards complete in PR #161

[2017-06-21 01:15] #151 closed

[2017-06-30 23:20] cehfisher commented on #65
covered in #162

[2017-06-30 23:20] #65 closed

[2017-06-30 23:20] cehfisher commented on #66
covered in #162

[2017-06-30 23:20] #66 closed

[2017-08-07 17:08] cehfisher opened #164 "Read more example update/testing"
One item to note: Describedby (at least with JAWS/NVDA and Firefox) only gets read when you tab to the element. The describedby text isn't read if you arrow through the text for example 3 (via Rachel Olivero Drupal slack).

[2017-08-08 10:04] fuzzbomb opened #165 "Read more link examples - movie quote attributions are hidden from some users."
In the Read More link examples, the movie quote attributions are visually-hidden.  Screen readers announce them,

These attributions are probably of interest to everyone, and hiding them from some users is a bad pattern to encourage in the style guide.  It's unrelated to the main purpose of the read-more-links section of the guide.

http://a11y-style-guide.com/style-guide/section-general.html#kssr

[2017-08-08 12:31] cehfisher commented on #165
this is kind of the point. The 'read more' section is showing different ways to add additional content for people using screenreaders. This is an exaggerated example, so might need clarification as such. thanks for the feedback!

[2017-08-08 16:54] fuzzbomb commented on #165
Let me have another go at explaining it.  My point is the invisible movie quote sources (in examples 3 and 4) are unrelated to the WCAG Link Purpose AAA techniques being demonstrated.  I can't see any reason why a screen reader user deserves these but a sighted user doesn't.

I think the bullet points in the introduction to the Read More Links section are out of step with the demos which follow.

[2017-08-08 20:20] cehfisher commented on #96
@Robdel12 i know this issue is closed, wanted you to see this example video http://a11y-style-guide.com/style-guide/section-media.html#kssref-media-videos

let me know what you think

[2017-08-10 04:23] Robdel12 commented on #96
That is awesome!

[2017-08-20 15:18] scottaohara opened #168 "Pagination Arrow Updates"
Per mention in [this commit](https://github.com/cehfisher/a11y-style-guide/commit/4213d0cf393fb7e9397eef305d98a6e21593e583), the arrows are being read aloud by VO.

likely want to revise these to be SVGs that we can set to aria-hidden, so they will not be read aloud, or update to CSS generated triangles or background images?

[2017-09-06 17:22] #146 closed

[2017-09-06 17:22] #63 closed

[2017-09-06 17:23] #153 closed

[2017-09-06 17:23] #154 closed

[2017-09-06 17:23] #164 closed

[2017-09-06 17:24] #165 closed

[2017-09-07 08:28] MichielBijl commented on #69
Do you have a particular design for this in mind?

[2017-09-07 08:28] MichielBijl commented on #64
What’s a footer menu component?

[2017-09-07 08:28] MichielBijl commented on #73
Do you mean like (un)ordered lists?

[2017-09-07 11:40] cehfisher commented on #64
Just another pattern showing what an accessible complex footer might look like. I'm thinking a list of links, some copyright text, some social media type links, and maybe a form field. If you have ideas, let me know or send up a PR :)

[2017-09-07 11:41] cehfisher commented on #73
Yes, unordered and ordered for sure, thinking of adding some more complex lists like accordions into this as well.

[2017-09-07 11:42] cehfisher commented on #69
No particular designs in mind...just something that matches the overall look/feel of the site.

[2017-09-08 09:51] MichielBijl commented on #64
Quick draft:

[code]

[2017-09-12 12:51] cehfisher commented on #64
nice start! i'll see if I can PR something quick. just wanted to get another menu type example that was a11y friendly. people like to see all the things :)

[2017-09-12 13:16] MichielBijl commented on #73
These things:

[code]

[2017-09-12 13:18] MichielBijl commented on #64
Cool cool cool 🙌🏽.

[2017-09-19 14:47] cehfisher commented on #64
ok took me a bit longer to get back to this...then i made it way more complex than it probably needed to be. lol. can you take a look at the new footer nav element and let me know if i'm missing anything - http://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-navigation-footer
thanks @MichielBijl!

[2017-09-26 08:31] MichielBijl commented on #64
I see some issues with the current implementation. Do you want a new ticket for that?

- Why are the headings at level 3?
- Why are there multiple `nav` elements?
- Why is the contact info in a `nav` element?
- `. footer__copyright ` can easily be a `p` element instead of a `div`
- Why is there a `<span class="visuallyhidden">Perform</span>` within the search’s `button` element?
- No need for the

[2017-10-02 15:45] cehfisher commented on #64
thanks for the feedback @MichielBijl. i was away from my computer last week, but will address these changes this week now that i am back :)

[2017-10-02 23:22] Martskin commented on #168
@scottaohara While this issue is titled "BreadCrumb Arrow Updates" I think it's meant to be "Pagination Arrow Updates".

As I was looking into it I noticed some other issues with Pagination. I opened a PR here with some refactoring/additions suggestions: https://github.com/cehfisher/a11y-style-guide/pull/175

[2017-10-03 12:34] scottaohara commented on #168
Thanks @Martskin

updated the title of the issue, and will give your PR a look over soon.  Appreciate the help!

[2017-10-03 12:52] cehfisher opened #176 "Build accessible alert message pattern"
Nice low hanging pattern for anyone looking to contribute. Need to create an "alert" or "error message" type pattern featuring accessible colors.
Example pattern to grow from: https://standards.usa.gov/components/alerts/

[2017-10-03 12:55] cehfisher opened #177 "Build accessible accordion pattern"
Need to build an accordion pattern that is also accessible. Might want to borrow some ideas from @scottaohara's base accessible accordions https://github.com/scottaohara/accessible_accordions

[2017-10-03 16:41] omguhh commented on #177
I will try this :)

[2017-10-03 18:13] cehfisher commented on #177
sweet! I have a long list of components to add, but never enough time to do it all. ping the ticket if you need any direction or reviews :)

[2017-10-03 18:59] kendrick commented on #69
I've added accessible tabs to my own pattern library and would love to contribute them to this one. I'll update the look & feel and send a PR.

[2017-10-03 19:04] kendrick commented on #160
Are you interested in adding guidance about why not to size type in pixels, or in adding a responsive/fluid typography pattern instead? (Or both?)

[2017-10-03 19:16] cehfisher commented on #160
Probably both, but I'll take whatever you have time for and can expand as needed at a later point. :)

[2017-10-03 19:17] cehfisher commented on #69
awesome! do you have a link to your pattern library too? just wondering how I could contribute back to you as well.

[2017-10-03 19:25] kendrick commented on #69
Sure, it's at https://github.com/pier1/rocketbelt. Our pattern [swaps between accordions & tabs](https://github.com/Pier1/rocketbelt/tree/develop/rocketbelt/components/tabcordions) depending on the viewport width, but I don't know that I'd make the same decision again. 😀 I'll plan on implementing just the tabs for this PR.

[2017-10-03 20:20] kendrick commented on #160
Cool, I can write a short explainer on using relative units and possibly add a fluid typography pattern in the future.

[2017-10-03 23:43] digilou commented on #176
I'd love to work on this!

[2017-10-06 23:31] digilou commented on #176
Update: In progress...

[2017-10-10 18:15] cehfisher commented on #64
OK footer nav changes have been pushed! should be good to resolve this ticket, but let me know if you see any other changes you need.

[2017-10-10 18:15] #64 closed

[2017-10-10 18:16] cehfisher commented on #176
let @scottaohara or I know if you need some direction with this pattern. excited to see some new contributors!

[2017-10-10 18:20] cehfisher commented on #168
this looks great @Martskin! I did some quick tests with VO and heard it read "dimmed" on the inactive pager elements...which seems like a legit response according to some research (https://stackoverflow.com/questions/29283878/voiceover-announces-dimmed-instead-of-disabled-for-buttons).

@scottaohara how does this page look to you now? http://a11y-style-guide.com/style-guide/section-navigation.html

[2017-10-10 18:21] cehfisher commented on #69
@kendrick how's the progress going so far?

[2017-10-10 18:22] cehfisher commented on #160
@kendrick is there anything i can do to help you on this component?

[2017-10-10 18:22] cehfisher commented on #168
oh should have mentioned, please close the ticket if resolved @scottaohara. thanks!

[2017-10-10 18:23] cehfisher commented on #177
@omguhh how is the progress on this?

[2017-10-10 18:26] Martskin commented on #168
Thanks @cehfisher !
Interesting, from that link it looks like it's the `pointer-events: none;` and not `aria-disabled="true"` that causes it to read as "Dimmed".

[2017-10-10 18:33] cehfisher commented on #168
yeah this is a first for me too, so wanted to run it by Scott who does more a11y audits than I. might be a normal OK thing

[2017-10-10 18:47] scottaohara commented on #168
Just gave this a look, and it's much better.
Is there a certain AT + browser combo where the link is announced as 'dimmed' when the aria-disabled is removed?  I wasn't getting that w/VoiceOver, even with `pointer-events: none` set.

The visual styling is definitely tied to the `.pagination__link--is-disabled`, but now that these utilize the `[aria-disabled="true"]` should the disabled styling be m

[2017-10-10 18:59] Martskin commented on #168
@scottaohara Good point. I see that that's a pattern used in places in the project.
https://github.com/cehfisher/a11y-style-guide/blob/39ca46d9c89431aabcae50d7eec95661667ec9f0/docs/css/toggles.css#L1

Which reminds me, as I was working on this issue I was going to suggest possibly adding a "Code Standards" section to the guide for contributors.

[2017-10-11 04:21] kendrick commented on #160
I have some notes cobbled together that I'll be able to use to craft some guidance later this week.

[2017-10-11 04:22] kendrick commented on #69
It's… going. 😄 Haven't been able to get back to it in a few days, but should be able to continue working on this & the typography issue later in the week.

[2017-10-11 05:26] omguhh commented on #177
Hey @cehfisher, it's going OK, I've made a skeleton of the accordion and the styling. It's taken me awhile to get used to the style guide, but it should be done soon 🎉

[2017-10-12 04:56] digilou commented on #176
@cehfisher @scottaohara I've just about finished with the CSS and Twig portions. Are you looking for just styling? Or some JavaScript action, too? (to dismiss the box)

[2017-10-12 11:31] scottaohara commented on #176
@digilou some functionality would be appreciated, within reason.

e.g. keyboard focus should be moved to a logical element in the DOM after the alert is closed.  Since this is a demo, make your best judgement on where that should go, knowing that someone implementing this in their own project will need to update it to work in their code / with their IDs.

Thank you again for taking on this pattern

[2017-10-12 12:49] cehfisher commented on #177
nice @omguhh! let @scottaohara or I know if you need any 👀  on it. also feel free to push up anything you started and we can help you finish too. we appreciate any and all effort :)

[2017-10-12 12:51] cehfisher commented on #168
@Martskin that's a great idea on the "code standards" section. what would you like to see in a document like that? have any good examples you could point us to?

@scottaohara is

 the only change we need here still?

[2017-10-12 12:52] cehfisher commented on #160
nice! feel free to push up what you have too and we can help you cross the finish line. it takes a community :)

[2017-10-12 14:51] digilou commented on #176
@scottaohara I'm having fun with it and love the challenge! It's making me thing. A lot. Thank you for letting me be a part of this very cool project!

[2017-10-12 15:58] Martskin commented on #168
@cehfisher Here's one that I created for USAC:

https://indigo.universalservice.org/latest/about-indigo/code-standards.html

And here's Airbnb's:

https://github.com/airbnb/css#css

[2017-10-12 16:13] scottaohara commented on #176
no thanks necessary.  thank you for wanting to contribute :D

[2017-10-13 11:46] omguhh commented on #177
Thanks @cehfisher! :)
I've [pushed](https://github.com/cehfisher/a11y-style-guide/compare/master...omguhh:feature/accordion) a basic accordion, I've based it roughly on the the spec for it [here](https://www.w3.org/TR/wai-aria-practices/#accordion) and @scottaohara's 😅
Can you let me know if I'm missing anything? :D

I'll work on adding it to the live demo pages.

[2017-10-13 13:01] cehfisher commented on #177
sweet! thanks for your hard work on this @omguhh! I'll do some review this morning. don't worry about the demo part of the PR. I can flip that over for you after the review. stay tuned...

[2017-10-19 21:01] kendrick commented on #69
(Almost done!)

[2017-10-20 17:39] #160 closed

[2017-10-23 01:31] kendrick commented on #69
@cehfisher I have this wrapped up and should be able to do some final cleanup & PR tomorrow evening. Just curious where you'd like this to live? I have it in the "Structure" section at the moment but am happy to put it wherever you'd like. Thanks!

[2017-10-24 02:46] cehfisher commented on #177
nice work @omguhh!!! I made some minor changes to the style and markup on PR #185. You can see the changes on the live demo site now - http://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-accordion

[2017-10-24 02:47] cehfisher commented on #177
Leaving this ticket open for now to add accessibility notes to the component.

[2017-10-24 03:13] omguhh commented on #177
It looks great @cehfisher :)
Thanks for reviewing and merging guys! @cehfisher @scottaohara :D

[2017-11-24 16:26] #177 closed

[2017-11-30 16:49] alefort opened #186 "Sidebar collapse button does not have hover states"
When hovering via mouse, over the collapse button, there's no visual indication that the element can be interacted with.

![image](https://user-images.githubusercontent.com/3220930/33443034-8c2fdeaa-d5c4-11e7-94a4-11b652476a2e.png)

[2017-11-30 22:44] cehfisher commented on #186
Hmm in my testing I do have a hover state for this. What browser/OS combo are you using @alefort?
![a11y_style_guide](https://user-images.githubusercontent.com/15240149/33458908-a8aa3f02-d5ed-11e7-9cac-2e3cc2ba40f0.png)

[2017-11-30 23:31] alefort commented on #186
That is a focus state in your screenshot. I'm pointing out the lack of a
hover state via a mouse.

On Thu, Nov 30, 2017, 5:44 PM Carie Fisher, <notifications@github.com>
wrote:

[2017-12-01 10:00] MarcoHengstenberg commented on #150
Would love to help out translating this into German. 😃

[2017-12-01 14:23] cehfisher commented on #186
ah...pays to *read* more slowly. i will be making some updates today, so will add that one in. probably should do the same treatment to the "back to top" icon as well. thanks!

[2017-12-01 18:20] #168 closed

[2017-12-01 19:20] cehfisher commented on #69
@kendrick sorry it took me a bit of time to get back to this PR. I updated the styling a bit, added the new tab JS to the index page, and ran the demo update script. you can see it live here - http://a11y-style-guide.com/style-guide/section-structure.html#kssref-structure-tabs

i'd like to have @scottaohara do a quick JS/screenreader check to see if I missed anything in my testing.

thanks again @

[2017-12-01 20:04] scottaohara commented on #69
Hey there @kendrick,

First off, thank you for the submission.  I do have a few questions/comments about what you've submitted.

1. I am unsure of why you are using `aria-selected` and `aria-expanded`?  The `aria-expanded` is not presently being updated when navigating the tab buttons. VoiceOver presently ignores the `aria-expanded`, but JAWS + NVDA will announce a tab as being collapsed and selec

[2017-12-01 20:12] cehfisher commented on #69
thanks @scottaohara for reviewing. based on the info you provided, I added a "draft" tag to the pattern (but still left it live for now).

[2017-12-01 20:35] cehfisher commented on #186
@alefort I added a cursor hand on hover for this toggle button. I did mock-up something that "bounced" on hover with keyframes, but I was afraid that would be too confusing to users. closing this ticket now. reopen if you don't think that a pointer is helpful enough.

[2017-12-01 20:35] #186 closed

[2017-12-01 20:36] digilou commented on #176
@cehfisher Just let me know what I can help with. I do want to see this all the way through and make it a good solution for others to use.

[2017-12-02 07:56] franck-paul opened #189 "Color contrast for checkboxes and radio button"
Hi, nice guide, really.

I have a little remark about checkboxes and radio buttons on this page → http://a11y-style-guide.com/style-guide/section-forms.html : I think they should be more contrasted when unckeched/unselected. The light grey may be difficult to see, on white background.

[2017-12-02 12:14] alefort commented on #186
I'd love to see it on the demo site when it's ready.

If you only added the mouse pointer, I feel that isn't enough, there's more we can do. What about giving it a proper hover state, something in which the color, shape or size change? This would guarantee that a larger portion of the population can detect the interactivity of the element.

Material design (https://material.io/guidelines/component

[2017-12-03 02:52] kendrick commented on #69
Hey @scottaohara, thanks for your review & thoughtful comments.

Great catch; I adapted this component from a component that switches between tabs & an accordion depending on the viewport width. `aria-expanded` is there for the accordion mode and I overlooked removing it.

TIL! It'll be nice to clean up the attributes of a bunch of my own code that has a static number of always-present tabs.

Yup,

[2017-12-03 03:15] scottaohara commented on #69
@kendrick "relative noob" is relative :)  Outside of the up/down arrow overwrite and the unnecessary aria-expanded, this was a pretty solid submission.  Looking forward to the updated PR.  Thanks again.

[2017-12-05 03:15] cehfisher commented on #189
Updated both the checkboxes and radio buttons. Please review and let me know if any other changes are needed. Thanks!

[2017-12-05 03:15] #189 closed

[2017-12-05 03:16] cehfisher commented on #186
I added a drop-shadow to the sidebar button, but I love your idea of extending the button section with states. I'll make a new ticket for that though. thanks!

[2017-12-05 03:18] cehfisher opened #191 "Update button states"
Add button states to button section http://a11y-style-guide.com/style-guide/section-general.html#kssref-general-buttons

[2017-12-05 06:26] franck-paul commented on #189
It's better but as WCAG 2.0 is concerned the contrast of the checkboxes/radio buttons (#f4f4f4) on white background, even with a darker border still fail to validate AA level. The according contrast ratio is 1.92:1 (1.1:1 without border). Seems to be a little bit too light, no?

Anyway, the border you put might be sufficient for a majority of people, me the first, thank's.

[2018-01-06 03:20] scottaohara opened #192 "Create issue template"
Per the contributing guidelines you've created a placeholder for, once those are squared away might i suggest the next step would be to create a preformatted issue template?

e.g. creating a .github folder with an issue template markdown file within:
.github > issue_template.md

[2018-01-06 23:08] cehfisher opened #193 "Create new teaser card pattern"
Noticed missing a teaser image with body text and link pattern that most sites seem to have. Most sites have redundant links, which is a WCAG warning...but also just annoying to users of screen readers.

<img width="962" alt="pattern" src="https://user-images.githubusercontent.com/15240149/34644847-2a9e18d4-f304-11e7-8fe5-0fd27a393c44.png">

[2018-01-06 23:23] cehfisher commented on #192
@scottaohara do you mean for submitting tickets? might also suggest creating a dummy pattern example. sometimes the placement of such files is half the battle (as in, don't put it in the `dist` folder or it will be erased).

[2018-01-07 03:09] scottaohara commented on #192
It’d be for when creating new github issues. Preset issue template(s). I can show you an example next time we are both online

[2018-01-11 01:02] stuartjnelson commented on #191
HI @cehfisher sorry could I have some more info? Do you mean some info about button states? Apologies if I am missing something simple.

[2018-01-11 19:57] cehfisher commented on #191
Yes sorry @stuartjnelson, meant to add more details to this ticket. Thinking something like this that shows all the various button states: hover, disabled, etc.
![states](https://user-images.githubusercontent.com/15240149/34844504-574dd8b6-f6d7-11e7-8eae-f59bb40585e8.png)

[2018-01-14 03:33] #192 closed

[2018-01-15 20:59] stuartjnelson commented on #191
No worries @cehfisher. Something like this [codepen](https://codepen.io/stuartjnelson/pen/MrqwKZ).

1. Are you happy with the buttons state being the button text or would you like a separate label like in the screenshot example
2. Would you like the buttons to also be interactive (eg, the normal button if focus on will show the focused style)
3. Would you like these buttons to go below the current

[2018-01-15 21:07] stuartjnelson opened #195 "Create accessible progress bar"
## Issue
Create an accessible progress bar example using `<progress>` [`MDN page on progressbar role
 `](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_progressbar_role).

[2018-01-15 21:08] stuartjnelson opened #196 "Add site favicon"
Create a favicon for the site and implement it.

[2018-01-15 21:35] scottaohara commented on #195
Is this an issue for creating a native `<progress>` example, a custom `role="progress"`, or both?

[2018-01-15 23:09] stuartjnelson commented on #195
Both. Do you think that would be useful?

On 15 Jan 2018 1:35 pm, "scottaohara" <notifications@github.com> wrote:

[2018-01-16 12:41] scottaohara commented on #195
Sure, they could be useful.

Native progress bars have really good support, but for some of the more 'designed' progress bars I've seen (multiple progress levels indicated in a single bar), there could be a use case for an ARIA version.

[2018-01-16 13:41] cehfisher commented on #191
yes that looks like the correct way forward @stuartjnelson.

1. No need for a separate label. Button text should be god enough. Or you could break it down into sections like this: http://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-pagination

2. No I think the buttons do no have to be interactive, if they are showing states. However, the base buttons would essentiall

[2018-01-16 22:59] cehfisher commented on #196
Done in #200. Even made some fancy ones (just for kicks). Thanks!

[2018-01-16 22:59] #196 closed

[2018-01-17 11:55] raineluntta opened #201 "Add localisation support"
Would be awesome to have localisation support to translate the guide to other languages. I would love to translate the guide to Finnish to be used with my co-workers, and I could just fork this repo and do it, but would be pretty great to be able to switch between languages in the guide. :)

[2018-01-17 12:50] raineluntta commented on #201
Woops, there was already issue regarding this (#150). Closing this one.

[2018-01-17 12:50] #201 closed

[2018-01-17 12:53] raineluntta commented on #150
When the tools for the translation work are in place, I'm willing to translate this into Finnish. I suppose the most used way is to use simple JSON-translation files to populate the fields in the templates.

Example here: https://github.com/transloadit/uppy/blob/master/src/locales/en_US.js

[2018-01-17 15:04] cehfisher commented on #150
@raineluntta I have wanted to do this for awhile, but not sure which method to use. could you elaborate a bit on how you use `uppy` or some other translation method?

[2018-01-17 15:05] cehfisher commented on #69
any progress on this issue @kendrick or @scottaohara?

[2018-01-17 16:02] kendrick commented on #69
Hey hey, just got back from some post-holiday travel but I should be able
to get it cleaned up this weekend or early next week!

On Wed, Jan 17, 2018 at 9:05 AM, Carie Fisher <notifications@github.com>
wrote:

[2018-01-18 09:05] raineluntta commented on #150
@cehfisher I just read into the KSS docs, and it seems like KSS is not supporting translations currently. I submitted an issue to the KSS team (kneath/kss#130). I'm waiting for an answer from their side to see if there's any possibilities here. I'm not sure its a good practice to go against the KSS methodology to provide translations in this single project. I would like to see KSS to support them

[2018-01-18 14:21] cehfisher commented on #150
that is what I was seeing too in my research, but trying to figure out a way around this issue :(
(also might want to submit the same type of ticket here: https://github.com/kss-node/kss-node/issues since that is the version we are running)

so what about this idea...can we just duplicate the english version, put it in a new language folder (ex. a11y-style-guide.com/style-guide/fr) and translate t

[2018-01-21 21:37] cehfisher commented on #73
Should be complete with this component: http://a11y-style-guide.com/style-guide/section-structure.html#kssref-structure-lists

[2018-01-21 21:37] #73 closed

[2018-01-24 13:36] cehfisher opened #204 "Accessible slider"
## Issue
We need to find and add a slider example that is accessible. For those times you absolutely need one.

[2018-01-29 21:05] #193 closed

[2018-01-29 21:06] cehfisher opened #206 "Highlight pattern"
## Issue
Create new pattern for highlighting content.

[2018-02-06 21:14] #206 closed

[2018-02-08 03:11] cehfisher opened #211 "Create date picker pattern"
## Issue
Create accessible date picker pattern.

[2018-02-08 03:15] cehfisher opened #212 "Create slider pattern"
## Issue
Create accessible slider pattern.

## Example
https://codepen.io/team/carbon/full/dZVoBx/

[2018-02-08 03:16] cehfisher opened #213 "Create progress bar"
## Issue
Create accessible progress bar.

## Example
https://codepen.io/team/carbon/full/jaGPyr/

[2018-02-08 22:39] cehfisher opened #214 "Create file input pattern"
## Issue
Create accessible file input pattern based on Scott's pattern.

## Example
https://scottaohara.github.io/a11y_styled_inputs/src/native-file/

[2018-02-08 22:42] cehfisher opened #215 "Star rating pattern"
## Issue
Create accessible star rating pattern based on @scottaohara's pattern.

## Example
https://scottaohara.github.io/a11y_styled_inputs/src/native-radio--rating/

[2018-02-11 23:19] cehfisher opened #216 "Mobile touch target pattern"
## Issue
Create new pattern about mobile touch targets

## Example
The recommended size of touch targets is 7 – 10mm. This size is equivalent to the smallest average finger. An interactive target area should be at least 7 x 7 mm. If not, it must be no smaller than 5 x 5 mm inside an exclusion zone of at least 7 x 7 mm that does not overlap with any other touch target. The recommendation is to prov

[2018-02-11 23:31] cehfisher opened #217 "Notification pattern"
## Issue
Create accessible notification pattern.

## Example
Make notifications visible using standard operating system alerts, inline messages or icons. Make notifications audible using sound bites or ensuring they can be read by assistive technology. And, where possible, make notifications felt by using haptic feedback when appropriate to do so.

[2018-02-11 23:33] cehfisher opened #218 "Error notification pattern"
## Issue
Beyond the normal notification alert pattern, make an error notification pattern.

## Example
When errors can be detected programmatically, provide clear informative messages that succinctly tell the user where the error is and suggestions, tips or instructions on how to correct it. Ensure it is easy for the user to return to the input/control that needs correcting, and other content.

Fo

[2018-02-13 01:11] cehfisher commented on #191
Any progress on this @stuartjnelson? I can just take it from here if you prefer. Another example layout: https://designsystem.digital.gov/components/buttons/

[2018-02-13 01:13] cehfisher opened #219 "Update to form errors"
## Issue
Make form errors more obvious.

## Example
See this example: https://designsystem.digital.gov/components/form-controls/

[2018-02-13 01:23] cehfisher opened #220 "Create badge/tag pattern"
## Issue
Create a pattern for accessible badges/tags

## Example
https://www.lightningdesignsystem.com/components/badges
https://www.lightningdesignsystem.com/components/pills

[2018-04-19 11:47] omguhh commented on #220
I'll take this :)

[2018-05-29 16:41] alexroseb opened #221 "Missing asset called by all.css"
## Issue
In dist/all.css, it references an asset "../images/px-video-sprite.png" that doesn't exist. This occurs on lines [3762](https://github.com/cehfisher/a11y-style-guide/blob/5cd049e798d3d2493287d15b991fb36693038e91/dist/all/all.css#L3762), [3817](https://github.com/cehfisher/a11y-style-guide/blob/5cd049e798d3d2493287d15b991fb36693038e91/dist/all/all.css#L3817), [3844](https://github.com/cehf

[2018-08-14 20:49] dannycolin commented on #150
i could help with the french version :).

Pros :
- it's easy
- No extra tools needed

Cons :
- It's hard to keep the translations up-to-date if there's a lot of modifications going on on the main version. But I think we could do something like on that project (https://github.com/ContributorCovenant/contributor_covenant).

What do you think?

[2018-09-25 17:56] weboverhauls opened #224 "Add menu to Mobile Navigation example"
Add a dropdown menu to the Mobile Navigation ("Hamburger") menu widget.

The controls current work well, would just be better to have a menu show/hide to give a better real world example.

http://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-navigation-mobile

[2018-10-04 11:58] scottaohara commented on #195
so...many months later.

[My findings on styling native progress bars](https://scottaohara.github.io/a11y_styled_form_controls/src/progress-bar/) to help guide the decision here...

[2018-10-04 12:35] scottaohara commented on #214
FWIW i'm also looking to create a second variation of this, as though accessible, it's a bit odd because each browser implements a file upload differently, so having 1 UI for them, based on the native input can be a bit misleading.

[2018-10-10 14:33] JulianNorton opened #225 "site is insecure, recommend implementing HTTPS"
## Issue
The site does not use HTTPS and is being marked as insecure.

#### resources
* https://troyhunt.com/heres-why-your-static-website-needs-https/
* https://www.youtube.com/watch?time_continue=7&v=_BNIkw4Ao9w
the tl;dr is worst case scenario bad actors can insert malicious code to the site. Best case it makes people trust the site more by seeing the green lock icon.

## Example

<img width="6

[2018-10-10 16:12] cehfisher opened #226 "Sloth card image missing"
## Issue
Sloth card image missing. Either download images or update link.

## Example
http://a11y-style-guide.com/style-guide/section-cards.html#kssref-cards-cards-flip-click

[2018-10-10 18:17] madebyhector commented on #150
I can help with the Spanish version (and hopefully get it installed one day - not working for me)

[2018-10-10 18:23] madebyhector opened #227 "Installation error"
## Issue
Can't install. get an error running `npm install`

Specific error

npm ERR! Darwin 17.7.0
npm ERR! argv "/Users/hector.a.rodriguez/.nvm/versions/node/v7.4.0/bin/node" "/Users/hector.a.rodriguez/.nvm/versions/node/v7.4.0/bin/npm" "install"
npm ERR! node v7.4.0
npm ERR! npm  v4.0.5
npm ERR! code ELIFECYCLE

npm ERR! node-sass@3.13.1 postinstall: `node scripts/build.js`
npm ERR! Exit status

[2018-10-10 22:31] widescreenBob commented on #227
Hey, this is what I would try.
Delete the node modules folder.

nvm use
npm install

[2018-10-17 12:11] cehfisher commented on #227
thanks for letting me know about this @madebyhector! I think we chatted a bit about this at A11yTO a bit. I'm just getting back from traveling/conference so give me a day or so to look and I'll update the ticket. thanks :)

[2018-10-18 15:57] nico3333fr opened #228 "Webfonts should not be defined in pixels"
## Issue

Use em/rem/whatever but not pixels for font-size declarations for the website a11y-style-guide.

## Example

I've noticed some `#kss-node .kss-description h3` defined in pixels and other examples. You should defined them in em or rem.

Cheers!

[2018-10-18 17:09] cehfisher commented on #228
I am using the theme I created to override those elements. This allows me to easily update KSS node when I need to, but keep my overrides in place.

[2018-10-19 15:52] nico3333fr commented on #228
Wait, I'm not sure I understand: KSS overrides or your theme should override KSS?

![px](https://user-images.githubusercontent.com/2578321/47229301-b09f9080-d3c7-11e8-8259-42d7ed325c63.png)

[2018-10-20 03:15] cehfisher commented on #227
@madebyhector thanks for the ticket! there were some node modules that needed some updating. please try again with the new fixes and let me know if you get stuck. thanks! Carie

[2018-10-20 03:15] #227 closed

[2018-10-20 03:15] #226 closed

[2018-10-20 03:15] cehfisher commented on #226
Fixed.

[2018-10-20 03:17] cehfisher commented on #225
@JulianNorton It is a GitHub page technically, just with a nicer URL. Prob could add this certificate on to help with validity. Thanks for the idea!

[2018-10-22 20:28] cehfisher opened #235 "Sidebar nav pattern"
Realized prob need an accessible sidebar nav pattern - accordion style.

[2018-10-22 22:19] scottaohara opened #236 "Revise show markup & copy experience"
I would expect the show markup buttons to act more like toggle buttons rather than their current experience of show the markup, but you then can't close it.

When the markup pattern opens, focus doesn't get updated to the new copy button, or get sent to the code pattern.

When the copy button is activated, a "copied" message is visually shown, but not announced.  Depending on the screen reader, th

[2018-10-23 01:40] #221 closed

[2018-10-26 02:55] scottaohara opened #237 "Revise: Switch Controls"
See [the different types of switches that could be built](https://scottaohara.github.io/a11y_styled_form_controls/#switches--toggle-buttons).

Some are better than others and it'd be good to focus on the betters here.

[2018-10-26 03:04] #69 closed

[2018-10-26 03:06] scottaohara opened #238 "Review/Revise Tab Component"
It's been a year since the previous review on the tab component/widget.

Review the current component against my [revised (97% complete) tab widget](https://github.com/scottaohara/a11y_tab_widget) and either make updates to the one here, or port over mine.

[2018-10-26 03:28] scottaohara opened #239 "Move away from instances of aria-hidden='false'"
`aria-hidden='false'` is sometimes wonky with actually re-injecting content back into the accessibility tree, and if the element shouldn't be hidden, it's just safer to remove the attribute all together.

Let's do a review of components and make sure that this is removed from as many of them asap.

[2018-10-26 03:50] scottaohara commented on #212
Depending on how fancy we want to get with this, there may re reasons to include both a native and AIRA widget.

[2018-10-26 03:57] scottaohara commented on #216
This isn't really a new "pattern" but more that each existing pattern should be looked at to make sure they meet mobile touch target best practices.

There could be general guidance written about this in the `button` elements, for example.

[2018-10-26 03:59] scottaohara opened #240 "Editorial: Resources"
Review resources and make sure they're up to date (for instance, SSBBARTGroup needs updating).

Add in new resources, etc.

[2018-10-26 04:04] scottaohara commented on #217
Toast notifications?

[2018-10-26 04:05] scottaohara commented on #195
Worth writing content to note the difference between a `progress` bar and a `meter`

[2018-10-26 04:27] scottaohara opened #241 "Test all lists with VoiceOver"
Due to VoiceOver negating list semantics if the display of list items is altered, or if the list style is removed, we may need to add in the hack, or at least mention the hack and when / why you might want to leave it off or add it, to re-apply list semantics.

[2018-10-26 13:50] cehfisher commented on #224
I looked into this enhancement ticket and think this is a good idea, but will require some JS updates or a new demo file so it does not interfere with the actual mobile menu JS on the site. I'll take a stab at it.

[2018-10-27 19:51] resource11 commented on #240
I can take a look at this one @scottaohara, @cehfisher

[2018-10-27 20:04] scottaohara commented on #240
Thanks @resource11

I could see a two part approach to this
1. make sure everything there is still relevant / links are still working
2. consider pruning / adding new resources.

Take a stab at one or both of these as you see fit.  If you want to talk about point 2 at all, you know how to reach me.  :)  Thank you again

[2018-10-29 18:21] cehfisher commented on #240
awesome you are tackling this @resource11! also keep in mind that this list is very selective. it should be related to a11y + SG and only authors/sources that we trust. if there is a resource directly related to a *pattern* it should live with that actual pattern, not the resource page, unless we make a new section on this page dedicated to duplicating those resources...something to maybe consider

[2018-10-30 00:57] resource11 commented on #240
Cool, thanks for the extra guidance! SG = style guide, yes?

[2018-10-30 00:58] scottaohara commented on #240
yes

[2018-11-06 23:33] #219 closed

[2018-11-13 15:39] cehfisher commented on #225
Updated domain name to point to new GitHub cert. Will take up to 24 hours for the certificate to be issued. Will update the a11y SG once cert is finalized.

[2018-11-13 15:55] cehfisher commented on #225
Finalized already. Please retest @JulianNorton, but I do see https working now. Thanks!

[2018-11-13 15:55] #225 closed

[2018-11-13 15:58] #191 closed

[2018-11-13 15:59] JulianNorton commented on #225
Awesome! Thanks Carie.
Julian

On Tue, Nov 13, 2018 at 10:55 AM Carie Fisher <notifications@github.com>
wrote:

[2019-04-09 22:16] scottaohara commented on #237
closing.  switches got their issues, but they're at least largely working in all browsers/AT in some form now.

Might be worth doing different patterns of different types of toggles.  e.g. aria-pressed=true/false.  but that'd be an alternate component to switches.

[2019-04-09 22:16] #237 closed

[2019-04-18 19:50] cboyden opened #249 "Card grid has unlabeled sections"
## Issue
The card grid pattern is a series of section elements (cards) nested inside a section element (the grid). Each of these is treated as a landmark in the accessibility tree, which means that for example a screenreader user trying to navigate by landmark would have to go through each individual card. And none of them have explicit labels, so they’d be impossible to tell apart.

Recommended f

[2019-04-18 19:58] scottaohara commented on #249
None of the sections are promoted to landmarks because none of them are provided accessible names.

It would actually be highly unnecessary to promote each item to a landmark status, as having an abundance of generic landmarks would dilute the ability to quickly navigate to other important landmarks in the document.

[2019-04-18 20:02] cboyden commented on #249
You're right about the landmark status. Looking at MDN, they recommend not using section as a generic container: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/section. But that's more of a recommendation than a rule, so this should be OK as is.

[2019-04-18 20:19] scottaohara commented on #249
i agree that the elements don't necessarily call for `section` elements here.  That said, they could potentially be semantically meaningful depending on the document structure they are used within, so their use is not overtly incorrect.

:: notes to self to go to the MDN page and fix their examples that seem to subtly indicate that the outline algorithm that would allow multiple `h1`s per page is

[2019-04-18 20:19] #249 closed

[2019-04-18 20:54] cehfisher commented on #249
just seeing this exchange....glad you all worked it out :)

[2019-05-07 14:02] thejimbirch commented on #204
New pattern as of the January 2019 release of WAI-ARIA Authoring Practices 1.1.
https://www.w3.org/TR/wai-aria-practices-1.1/#carousel

They are seeking feedback in [issue 970](https://github.com/w3c/aria-practices/issues/970).

[2019-06-14 16:28] djmtype opened #253 "Dropdown menu on touch devices - remains open"
## Issue
On touch devices, the dropdown menu remains open and the submenus revealed even when there is no focus.

## Example
https://a11y-style-guide.com/style-guide/section-navigation.html#a11y-menu

## Additional Information
Operating System and version: iOS 12
Browser and version: Safari 12 on iPad Pro 2
Assistive technology used (if applicable):

[2019-06-28 13:08] Malvoz commented on #253
I don't see the issue on Android 9, Chrome 73.

@cehfisher
As an aside, the "basic navigation" menu links take you to the top of the page on-click and that's a tad frustrating when just clicking around and testing.

[2019-06-28 13:13] Malvoz commented on #215
That link is broken, see https://scottaohara.github.io/a11y_styled_form_controls/src/radio-button--rating/

[2019-06-28 13:22] Malvoz commented on #195
I usually prefer native elements whenever I can, and because styling forms is (still) hard to get right; an alternative solution that wouldn't hurt to bring up, while I can not argue is any less of a hack would be to use `<progress>` but visually hide it using the `.sr-only` class and style a sibling element or perhaps its pseudo elements.

[2019-06-28 13:39] Malvoz opened #254 "User preferences"
Add a new section/category (perhaps "User preferences") to help developers apply CSS with respect to the users preferences, such as `prefers-contrast` or `prefers-reduced-motion`?

https://drafts.csswg.org/mediaqueries-5/#mf-user-preferences

[2019-07-01 14:09] cehfisher commented on #254
That's a good idea! Will add it to the feature list. If you have any ideas on what all should be in this section, please share.

[2019-07-01 14:15] cehfisher commented on #253
@djmtype - I tested this too and did not see it on my iOS device. I will dig into it a bit.

@Malvoz - if I am remembering correctly, I added those as `#` links which makes sense why it goes back to the top of the page. I was getting validation errors when I left the links empty. maybe I could link to `#kssref-navigation-navigation-basic` so it at least stays in the section.

[2019-07-01 15:16] Malvoz commented on #253
@cehfisher `href="#!"` allows for clickable links, but without moving focus/scrolling top, if you're okay with that. I think it's quite natural to test-click interactive elements in examples and so moving focus can be interruptive. ^^

[2019-07-01 18:20] djmtype commented on #253
Here's [a link to better illustrate my issue](https://cloudup.com/cBoMqrq45Ho) with iOS 12.3.1 and Safari.

[2019-07-01 22:23] elmnt commented on #227
This solution worked for me too, thanks!

[2019-07-05 23:14] Malvoz commented on #254
Here's one example:

https://a11yproject.com/posts/understanding-vestibular-disorders/

[code]

[2019-09-05 11:37] aardrian opened #255 "Dropdown menu example uses non-ideal pattern"
## Issue
The pattern at this URL:
https://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-navigation-dropdown

* Puts the `menuitem` role on the `<li>`,
* Leaves the `<a>` with its native role,
* As a result of the previous two items, breaks from the [APG ARIA menu pattern](https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-1/menubar-1.html),
* The `ar

[2019-09-05 11:52] aardrian opened #256 "Basic Navigation bar uses non-ideal pattern"
## Issue
The pattern at this URL:
https://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-navigation-basic

* Uses a `role="menu"` for basic navigation
* The third example is missing required children `menuitem` roles.

From [ARIA 1.1](https://www.w3.org/TR/wai-aria-1.1/#menubar):

This pattern should be reserved for web pages trying to re-create / mimic / masquerade as

[2019-09-05 12:46] aardrian opened #257 "Responsive Table pattern loses semantics at narrow size"
## Issue
For the responsive table on this page:
https://a11y-style-guide.com/style-guide/section-structure.html

When the narrow viewport styles kick in, the semantics are lost. This is a known issue across browsers ([back to 2011](https://www.456bereastreet.com/archive/201111/screen_readers_and_css/) and [again in 2018](https://developer.paciellogroup.com/blog/2018/03/short-note-on-what-css-displ

[2019-10-25 12:48] hollsk opened #268 "is visually-hidden text in pagination links a problem?"
## Issue
Some of the markup on the Navigation example page contains visually-hidden text to supplement the link text in pagination controls, e.g. `<span class="visuallyhidden">page </span>2`.

Does this matter to voice input users? I know that the A11y Style Guide is targeting WCAG 2.0 and not WCAG 2.1, and that in any case the label _is_ in the name even though some of it can't be seen. But a cow

[2019-11-06 15:27] cehfisher commented on #268
That is a good question! You are correct that this library is based on WCAG 2.0 and I have not tested it with voice input devices. Could you give me more info on which technology your co-worker is using so I can test the pattern more?

[2019-11-06 15:28] cehfisher commented on #255
Thanks for your feedback on this pattern! I will work on updating it and putting a more obvious note about the WCAG level of this pattern. Thanks!

[2019-11-06 15:30] cehfisher commented on #256
Thanks for your feedback! I will work on some updates on these.

[2019-11-06 15:33] cehfisher commented on #257
Yes, responsive tables have some issues to work out for sure. I'll look into implementing the pattern updates you suggest and will send it back to you for a quick review soon. Thanks!

[2019-11-06 15:35] cehfisher commented on #253
Thanks for the info @Malvoz and @djmtype! Just catching up with this project. I will test out the proposed solution and get back to you on implementation.

[2019-11-06 16:02] Malvoz commented on #254
Mozilla's CSS Remedy has a more fleshed out version of the above example implementation in  https://github.com/mozdevs/cssremedy/blob/master/css/reminders.css#L31-L48

Also I should've been more descriptive why this is needed (the a11yproject.com link explains it well though) -  the snippet is meant to ease the web experience for all users who prefers reduced motion, in some cases because they suf

[2019-11-06 16:18] hollsk commented on #268
We're not using voice input software ourselves 🙈- just interested in whether the pattern is generally safe!

SC 2.5.3 has a note mentioning that it's "best practice" to have the visible text of the label at the start of the accessible name, but doesn't make it a hard requirement. So the pattern as written passes WCAG, even though it doesn't use the "best practice" method.

I was thinking that perh

[2019-11-06 17:47] djmtype commented on #253
I've upgraded iOS since. It works as intended on iOS 13.2 Safari.

[2020-01-02 16:49] jfhector opened #269 "The image in 'Image gallery' are not loading"
Thanks for this useful style guide.

The image files in the '[Image gallery](https://a11y-style-guide.com/style-guide/section-media.html#kssref-media-image-gallery)' pattern are not loading. A placeholder 'image broken' icon is shown instead.

<img src="https://user-images.githubusercontent.com/30028540/71679485-99a44e80-2d7f-11ea-815f-85de053ed88a.png" alt="screenshot of the Image Gallery section

[2020-01-15 13:35] #269 closed

[2020-01-15 13:36] cehfisher commented on #269
Thanks for the ticket @jfhector and for the PR @kingkool68. This issue should be resolved now!

[2020-06-29 03:18] Christopher-James-Francis-Rodgers opened #273 "I don't, but I would love to"
## Issue
I would love to be able to find an all-inclusive style guideline for accessibility, and I wonder if you are committed to https://a11y-style-guide.com/style-guide/ being that, and if not, would you please advise us of the best alternative, and simply disregard the following. Thank you, kindly, my friend. ~ Chris

If you are committed to https://a11y-style-guide.com/style-guide/ being a def

[2020-09-29 22:27] aardrian commented on #255
Pinging this again because I had a client reference it today.

[2020-09-30 00:40] #273 closed

[2020-09-30 01:47] #268 closed

[2020-09-30 01:51] cehfisher commented on #255
Removing this pattern until I have time to review it.

[2020-09-30 01:51] #255 closed

[2020-09-30 01:56] cehfisher commented on #256
Updated! Thanks 👍

[2020-09-30 01:56] #256 closed

[2020-09-30 01:57] #253 closed

[2021-03-17 14:13] coobrien opened #278 "Update instructions for contributing"
Your instructions for contributing include updating of npm using the node version manager package.  Not all folks will have this installed and might get confused as to why they get an error trying to run that command.  It might be a good idea to put that as an optional step in the instructions or also put how to install nve.

[2021-03-17 14:20] coobrien commented on #278
There also doesn't seem to be an instruction to install gulp but gulp is requited to run the app as well.

[2021-03-17 20:21] cehfisher commented on #278
Good points @coobrien! The process has developed over time, it would be good to get a newbie's perspective. Would love some help updating these instructions, if you have some time.

[2021-03-19 00:36] coobrien commented on #278
I can help.  Was thinking of other things too :)

[2021-03-23 01:51] cehfisher commented on #278
@coobrien I did add a note in the contrib about making the NVM optional. I also updated some dead/old links...but could add so much more with help :)

[2021-03-31 21:42] #278 closed

[2021-08-11 22:18] calebtr-metro opened #286 "Some examples of toggle switches fail WCAG 1.4.1 (Color is not used as the only visual means of conveying information)"
## Issue
Some of the toggle switches demonstrated at https://a11y-style-guide.com/style-guide/section-forms.html#kssref-forms-toggles use only color to convey information about their state. Specifically, the first and third examples, which do not have text labels integrated with the switches, do not convey information about their state without the use of color.

It is true that technically, the to

[2021-08-11 23:07] scottaohara commented on #286
You are correct that the toggles you mentioned would have improved usability if there was an additional indicator to convey the on/off state.  However, normatively these do not fail 1.4.1. It is not "technically" that they are in different positions, they *are* in different positions which means that it is not through use of color alone that the state is indicated.

Regarding the establishment of

[2021-08-11 23:07] #286 closed, assigned to nobody

[2021-08-11 23:22] calebtr-metro commented on #286
Thank you for the prompt and thorough explanation, as well as your effort in helping to maintain this repository.

I disagree, and I don't want to implement those examples, but I won't submit a PR either. Unless the user knows the meaning of each position, they don't know if the toggle is on or off. In this respect, the toggle switch is no different than radio buttons or checkboxes, so I can see h

[2021-08-12 00:07] scottaohara commented on #286
I wouldn't say i put in much effort here, i'd have to look at the commit history to even recall when i last contributed anything :D

Regarding your response though, I'm questioning what it is you disagree with?   And I ask this not trying to start a fight, or anything of the sort.  I'm truly curious how you can come to a different understanding of the normative text.  Or do you disagree with wheth

[2021-08-12 01:51] calebtr-metro commented on #286
The pen was intended to demonstrate how the toggles behaved if color could not be perceived. The left-off-right-on convention isn't intuitive to me. I believe you if you say the convention is real, but I need the color to be confident that the switch is on, and I see that as accessibility problem. But now it is about me and not the user.

After doing some more reading, I am over my hang-ups. The p

[2021-08-12 02:31] scottaohara commented on #286
thank you.  i appreciate you taking the time to provide your thinking here.

[2021-09-14 18:55] #239 closed